<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332552903248-vb70apsfbeof7en4l4i5tbkn75ifr6nc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332552903248-vb70apsfbeof7en4l4i5tbkn75ifr6nc</string>
	<key>API_KEY</key>
	<string>AIzaSyCsINln4LwCD_vcdimfYf3HXR70UjjZdro</string>
	<key>GCM_SENDER_ID</key>
	<string>332552903248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.githappens</string>
	<key>PROJECT_ID</key>
	<string>soen390-565be</string>
	<key>STORAGE_BUCKET</key>
	<string>soen390-565be.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332552903248:ios:bf9eec93a9b569bb63cf55</string>
</dict>
</plist>